USE [master]
GO
/****** Object:  Database [UrbanPlanning]    Script Date: 12.02.2024 14:09:08 ******/
CREATE DATABASE [UrbanPlanning]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UrbanPlanning', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\UrbanPlanning.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UrbanPlanning_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\UrbanPlanning_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UrbanPlanning].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UrbanPlanning]
GO
/****** Object:  Table [dbo].[EstateObject]    Script Date: 12.02.2024 14:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstateObject](
	[IDEstateObject] [int] IDENTITY(1,1) NOT NULL,
	[Square] [decimal](14, 4) NOT NULL,
	[Price] [decimal](12, 2) NOT NULL,
	[DateOfDefinition] [date] NOT NULL,
	[DateOfApplication] [date] NOT NULL,
	[Number] [int] NOT NULL,
	[Adress] [nvarchar](100) NOT NULL,
	[IDPostIndex] [int] NOT NULL,
	[IDTypeOfActivity] [int] NOT NULL,
	[IDFormat] [int] NOT NULL,
 CONSTRAINT [PK_EstateObject] PRIMARY KEY CLUSTERED 
(
	[IDEstateObject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstateRelation]    Script Date: 12.02.2024 14:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstateRelation](
	[IDEstateRelation] [int] IDENTITY(1,1) NOT NULL,
	[IDPlaceEstate] [int] NOT NULL,
	[IDBuildingEstate] [int] NOT NULL,
 CONSTRAINT [PK_EstateRelation] PRIMARY KEY CLUSTERED 
(
	[IDEstateRelation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_AllBuilds]    Script Date: 12.02.2024 14:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--3.2) Получение списка всех домов с возможностью указания участка;
create   function [dbo].[FN_AllBuilds](@IDEstateObject int)
returns table
as
		return(
		select eo.IDEstateObject,[Square], Price, DateOfDefinition, DateOfApplication, Number, Adress,IDTypeOfActivity
		from EstateObject eo
		join EstateRelation er on eo.IDEstateObject=er.IDBuildingEstate
		where er.IDPlaceEstate=@IDEstateObject
		group by eo.IDEstateObject,[Square], Price, DateOfDefinition, DateOfApplication, Number, Adress,IDTypeOfActivity
	)
GO
/****** Object:  Table [dbo].[Client]    Script Date: 12.02.2024 14:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[IDClient] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NOT NULL,
	[Birthday] [date] NOT NULL,
	[Phone] [char](13) NOT NULL,
	[IsLegalEntity] [bit] NOT NULL,
	[PasportSeries] [char](4) NULL,
	[PasportNumber] [char](6) NULL,
	[CompanyTitle] [nvarchar](50) NULL,
	[INN] [char](10) NULL,
	[KPP] [char](9) NULL,
	[OGRN] [char](13) NULL,
	[PaymentAccount] [char](20) NULL,
	[CorrespondentAccount] [char](20) NULL,
	[BIK] [char](9) NULL,
	[IDGender] [int] NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[IDClient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 12.02.2024 14:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[IDEmployee] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NOT NULL,
	[Birthday] [date] NOT NULL,
	[Phone] [char](13) NOT NULL,
	[PasportSeries] [char](4) NOT NULL,
	[PasportNumber] [char](6) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[IDPost] [int] NOT NULL,
	[IDGender] [int] NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[IDEmployee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Check]    Script Date: 12.02.2024 14:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Check](
	[IDCheck] [int] IDENTITY(1,1) NOT NULL,
	[DateOfTheSale] [datetime] NOT NULL,
	[FullCost] [decimal](14, 2) NULL,
	[IDEmployee] [int] NOT NULL,
	[IDClient] [int] NOT NULL,
	[IDEstateObject] [int] NOT NULL,
 CONSTRAINT [PK_Check] PRIMARY KEY CLUSTERED 
(
	[IDCheck] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_HistoryCheck]    Script Date: 12.02.2024 14:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   function [dbo].[FN_HistoryCheck](@IDEstateObject int)
returns table
as
	return(
		(select ch.IDCheck,ch.DateOfTheSale,ch.FullCost,Concat(e.LastName,' ',e.FirstName,' ', e.Patronymic) as 'Employee',Concat(cl.LastName,' ',cl.FirstName,' ', cl.Patronymic) as 'Client',ch.IDEstateObject,(select top 1 FullCost from [Check] where IDEstateObject=@IDEstateObject order by DateOfTheSale) as 'ActualCost',(select top 1 Concat(cl.LastName,' ',cl.FirstName,' ', cl.Patronymic) from [Check] ch join Client cl on ch.IDClient=cl.IDClient where IDEstateObject=@IDEstateObject order by DateOfTheSale) as 'ActualClient'
		from [Check] ch
		join Client cl on ch.IDClient=cl.IDClient
		join Employee e on ch.IDEmployee=e.IDEmployee
		where IDEstateObject=@IDEstateObject)
	)
GO
/****** Object:  Table [dbo].[Format]    Script Date: 12.02.2024 14:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Format](
	[IDFormat] [int] IDENTITY(1,1) NOT NULL,
	[FormatTitle] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Format] PRIMARY KEY CLUSTERED 
(
	[IDFormat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeOfActivity]    Script Date: 12.02.2024 14:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeOfActivity](
	[IDTypeOfActivity] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TypeOfActivity] PRIMARY KEY CLUSTERED 
(
	[IDTypeOfActivity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Postindex]    Script Date: 12.02.2024 14:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Postindex](
	[IDPostindex] [int] IDENTITY(1,1) NOT NULL,
	[Postindex] [char](6) NOT NULL,
 CONSTRAINT [PK_Postindex] PRIMARY KEY CLUSTERED 
(
	[IDPostindex] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_Places]    Script Date: 12.02.2024 14:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Views
--1.1) Вывод всех объектов недвижимости, типа – участок со всеми домами на нём;
create   view [dbo].[VW_Places]
as
select e.IDEstateObject,[Square], Price, DateOfDefinition, DateOfApplication, Number, Adress, Postindex, t.Title,FormatTitle, STRING_AGG(er.IDBuildingEstate,', ') as 'Builds'
from EstateObject e
join Postindex p on e.IDPostIndex=p.IDPostindex
join TypeOfActivity t on t.IDTypeOfActivity=e.IDTypeOfActivity
join [Format] f on e.IDFormat = f.IDFormat
join EstateRelation er on e.IDEstateObject=er.IDPlaceEstate
where e.IDTypeOfActivity=1
group by e.IDEstateObject,[Square], Price, DateOfDefinition, DateOfApplication, Number, Adress, Postindex, t.Title,FormatTitle
GO
/****** Object:  Table [dbo].[FlatRelation]    Script Date: 12.02.2024 14:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlatRelation](
	[IDFlatRelation] [int] IDENTITY(1,1) NOT NULL,
	[IDBuildEstate] [int] NOT NULL,
	[IDFlatEstate] [int] NOT NULL,
 CONSTRAINT [PK_FlatRelation] PRIMARY KEY CLUSTERED 
(
	[IDFlatRelation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_Build]    Script Date: 12.02.2024 14:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--2.2) Вывод всех объектов недвижимости, типа – дом, с указанием участка;

create   view [dbo].[VW_Build]
as
select [Square], Price, DateOfDefinition, DateOfApplication, Number,Adress, Postindex, t.Title,FormatTitle, STRING_AGG(fr.IDFlatEstate,', ') as 'Flats'
from EstateObject e
join Postindex p on e.IDPostIndex=p.IDPostindex
join TypeOfActivity t on t.IDTypeOfActivity=e.IDTypeOfActivity
join [Format] f on e.IDFormat = f.IDFormat
join FlatRelation fr on e.IDEstateObject=fr.IDBuildEstate
where e.IDTypeOfActivity=2
group by e.IDEstateObject,[Square], Price, DateOfDefinition, DateOfApplication, Number, Adress, Postindex, t.Title,FormatTitle
GO
/****** Object:  View [dbo].[VW_Flat]    Script Date: 12.02.2024 14:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--2.3) Вывод всех объектов недвижимости, типа – квартира, с указанием дома;

create   view [dbo].[VW_Flat]
as
select [Square], Price, DateOfDefinition, DateOfApplication,Adress, Postindex, t.Title,FormatTitle
from EstateObject e
join Postindex p on e.IDPostIndex=p.IDPostindex
join TypeOfActivity t on t.IDTypeOfActivity=e.IDTypeOfActivity
join [Format] f on e.IDFormat = f.IDFormat
where e.IDTypeOfActivity=3
GO
/****** Object:  UserDefinedFunction [dbo].[FN_AllFlats]    Script Date: 12.02.2024 14:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Functions

--3.1) Получение списка всех квартир с возможностью указания дома;
create   function [dbo].[FN_AllFlats](@IDEstateObject int)
returns table
as
		return(
		select eo.IDEstateObject,[Square], Price, DateOfDefinition, DateOfApplication, Number, Adress,IDTypeOfActivity
		from EstateObject eo
		join FlatRelation fr on eo.IDEstateObject=fr.IDFlatEstate
		where fr.IDBuildEstate=@IDEstateObject
		group by eo.IDEstateObject,[Square], Price, DateOfDefinition, DateOfApplication, Number, Adress,IDTypeOfActivity
	)
GO
/****** Object:  Table [dbo].[EstatePhoto]    Script Date: 12.02.2024 14:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstatePhoto](
	[IDEstatePhoto] [int] IDENTITY(1,1) NOT NULL,
	[PhotoPath] [nvarchar](500) NOT NULL,
	[IDEstateObject] [int] NOT NULL,
	[IDEmployee] [int] NOT NULL,
 CONSTRAINT [PK_EstatePhoto] PRIMARY KEY CLUSTERED 
(
	[IDEstatePhoto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 12.02.2024 14:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[IDGender] [int] IDENTITY(1,1) NOT NULL,
	[GenderTitle] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[IDGender] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 12.02.2024 14:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[IDPost] [int] IDENTITY(1,1) NOT NULL,
	[PostTitle] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[IDPost] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[temp]    Script Date: 12.02.2024 14:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp](
	[id] [int] NULL,
	[inttemp] [int] NULL,
	[chartemp] [varchar](50) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Check] ON 

INSERT [dbo].[Check] ([IDCheck], [DateOfTheSale], [FullCost], [IDEmployee], [IDClient], [IDEstateObject]) VALUES (1, CAST(N'1993-06-24T10:13:00.000' AS DateTime), CAST(301640000.00 AS Decimal(14, 2)), 4, 4, 27)
INSERT [dbo].[Check] ([IDCheck], [DateOfTheSale], [FullCost], [IDEmployee], [IDClient], [IDEstateObject]) VALUES (2, CAST(N'2012-05-29T13:36:00.000' AS DateTime), CAST(393520000.00 AS Decimal(14, 2)), 5, 32, 24)
INSERT [dbo].[Check] ([IDCheck], [DateOfTheSale], [FullCost], [IDEmployee], [IDClient], [IDEstateObject]) VALUES (3, CAST(N'1997-04-03T14:24:00.000' AS DateTime), CAST(28680000.00 AS Decimal(14, 2)), 8, 13, 13)
SET IDENTITY_INSERT [dbo].[Check] OFF
GO
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([IDClient], [LastName], [FirstName], [Patronymic], [Birthday], [Phone], [IsLegalEntity], [PasportSeries], [PasportNumber], [CompanyTitle], [INN], [KPP], [OGRN], [PaymentAccount], [CorrespondentAccount], [BIK], [IDGender]) VALUES (1, N'Константинов', N'Матвей', N'Александрович', CAST(N'1982-09-21' AS Date), N'85153127367  ', 1, NULL, NULL, N'SarahAndMorenoCompany', NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Client] ([IDClient], [LastName], [FirstName], [Patronymic], [Birthday], [Phone], [IsLegalEntity], [PasportSeries], [PasportNumber], [CompanyTitle], [INN], [KPP], [OGRN], [PaymentAccount], [CorrespondentAccount], [BIK], [IDGender]) VALUES (2, N'Коновалов', N'Артур', N'Кириллович', CAST(N'1971-09-12' AS Date), N'86107857394  ', 1, NULL, NULL, N'RogerAndLynchCompany', NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Client] ([IDClient], [LastName], [FirstName], [Patronymic], [Birthday], [Phone], [IsLegalEntity], [PasportSeries], [PasportNumber], [CompanyTitle], [INN], [KPP], [OGRN], [PaymentAccount], [CorrespondentAccount], [BIK], [IDGender]) VALUES (3, N'Худяков', N'Иван', N'Артёмович', CAST(N'1983-08-18' AS Date), N'83653814430  ', 0, N'1935', N'721143', NULL, N'6478674426', N'664471571', N'2435062066100', N'39323689936478674426', N'5846725664664471571 ', N'388278126', 1)
SET IDENTITY_INSERT [dbo].[Client] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([IDEmployee], [LastName], [FirstName], [Patronymic], [Birthday], [Phone], [PasportSeries], [PasportNumber], [Login], [Password], [IDPost], [IDGender]) VALUES (1, N'Козлов', N'Владимир', N'Вадимович', CAST(N'1995-06-10' AS Date), N'89782904561  ', N'9209', N'734916', N'123LE59Evfk', N'LE59Evfk', 3, 1)
INSERT [dbo].[Employee] ([IDEmployee], [LastName], [FirstName], [Patronymic], [Birthday], [Phone], [PasportSeries], [PasportNumber], [Login], [Password], [IDPost], [IDGender]) VALUES (2, N'Кириллова', N'Виктория', N'Давидовна', CAST(N'1984-05-16' AS Date), N'81200222412  ', N'6671', N'526895', N'456kp1WNnK2', N'kp1WNnK2', 2, 2)
INSERT [dbo].[Employee] ([IDEmployee], [LastName], [FirstName], [Patronymic], [Birthday], [Phone], [PasportSeries], [PasportNumber], [Login], [Password], [IDPost], [IDGender]) VALUES (3, N'Попова', N'Анна', N'Артёмовна', CAST(N'2003-05-19' AS Date), N'86358379282  ', N'7211', N'809976', N'789478Zwdlu', N'478Zwdlu', 2, 2)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[EstateObject] ON 

INSERT [dbo].[EstateObject] ([IDEstateObject], [Square], [Price], [DateOfDefinition], [DateOfApplication], [Number], [Adress], [IDPostIndex], [IDTypeOfActivity], [IDFormat]) VALUES (1, CAST(561.0000 AS Decimal(14, 4)), CAST(22440000.00 AS Decimal(12, 2)), CAST(N'1991-02-24' AS Date), CAST(N'1993-01-07' AS Date), 8, N'г. Красноярск,  ул. Лермонтова, уч 8', 43, 1, 1)
INSERT [dbo].[EstateObject] ([IDEstateObject], [Square], [Price], [DateOfDefinition], [DateOfApplication], [Number], [Adress], [IDPostIndex], [IDTypeOfActivity], [IDFormat]) VALUES (2, CAST(9166.0000 AS Decimal(14, 4)), CAST(366640000.00 AS Decimal(12, 2)), CAST(N'2010-04-15' AS Date), CAST(N'2011-08-16' AS Date), 198, N'г. Тольятти,  ул. Свердлова, уч 198', 20, 1, 1)
INSERT [dbo].[EstateObject] ([IDEstateObject], [Square], [Price], [DateOfDefinition], [DateOfApplication], [Number], [Adress], [IDPostIndex], [IDTypeOfActivity], [IDFormat]) VALUES (3, CAST(236.0000 AS Decimal(14, 4)), CAST(9440300.00 AS Decimal(12, 2)), CAST(N'1993-08-13' AS Date), CAST(N'1996-03-30' AS Date), 81, N'г. Красноярск,  ул. Лермонтова, уч 8, д. 4, кв. 3', 23, 3, 1)
SET IDENTITY_INSERT [dbo].[EstateObject] OFF
GO
SET IDENTITY_INSERT [dbo].[EstatePhoto] ON 

INSERT [dbo].[EstatePhoto] ([IDEstatePhoto], [PhotoPath], [IDEstateObject], [IDEmployee]) VALUES (1, N'https://avatars.dzeninfra.ru/get-zen_doc/271828/pub_65a94dff5fa2ee4ed86a10ab_65a94e0a95fa5f044c31c010/scale_1200', 3, 1)
INSERT [dbo].[EstatePhoto] ([IDEstatePhoto], [PhotoPath], [IDEstateObject], [IDEmployee]) VALUES (2, N'https://avatars.dzeninfra.ru/get-zen_doc/271828/pub_65a8f6154aebb8193f135bbc_65a8fd4d335af54b4b39ae87/scale_1200', 13, 6)
INSERT [dbo].[EstatePhoto] ([IDEstatePhoto], [PhotoPath], [IDEstateObject], [IDEmployee]) VALUES (3, N'https://forum.ivd.ru/uploads/monthly_2018_05/plan.jpeg.eefd27876f9d9cd190e9b68ce91a3cb1.jpeg', 14, 9)
SET IDENTITY_INSERT [dbo].[EstatePhoto] OFF
GO
SET IDENTITY_INSERT [dbo].[EstateRelation] ON 

INSERT [dbo].[EstateRelation] ([IDEstateRelation], [IDPlaceEstate], [IDBuildingEstate]) VALUES (1, 1, 4)
INSERT [dbo].[EstateRelation] ([IDEstateRelation], [IDPlaceEstate], [IDBuildingEstate]) VALUES (2, 2, 11)
INSERT [dbo].[EstateRelation] ([IDEstateRelation], [IDPlaceEstate], [IDBuildingEstate]) VALUES (3, 5, 15)
SET IDENTITY_INSERT [dbo].[EstateRelation] OFF
GO
SET IDENTITY_INSERT [dbo].[FlatRelation] ON 

INSERT [dbo].[FlatRelation] ([IDFlatRelation], [IDBuildEstate], [IDFlatEstate]) VALUES (1, 4, 3)
INSERT [dbo].[FlatRelation] ([IDFlatRelation], [IDBuildEstate], [IDFlatEstate]) VALUES (2, 11, 13)
INSERT [dbo].[FlatRelation] ([IDFlatRelation], [IDBuildEstate], [IDFlatEstate]) VALUES (3, 15, 14)
SET IDENTITY_INSERT [dbo].[FlatRelation] OFF
GO
SET IDENTITY_INSERT [dbo].[Format] ON 

INSERT [dbo].[Format] ([IDFormat], [FormatTitle]) VALUES (1, N'Частная')
INSERT [dbo].[Format] ([IDFormat], [FormatTitle]) VALUES (2, N'Государственная')
INSERT [dbo].[Format] ([IDFormat], [FormatTitle]) VALUES (3, N'Муниципальная')
SET IDENTITY_INSERT [dbo].[Format] OFF
GO
SET IDENTITY_INSERT [dbo].[Gender] ON 

INSERT [dbo].[Gender] ([IDGender], [GenderTitle]) VALUES (1, N'Мужчина')
INSERT [dbo].[Gender] ([IDGender], [GenderTitle]) VALUES (2, N'Женщина')
SET IDENTITY_INSERT [dbo].[Gender] OFF
GO
SET IDENTITY_INSERT [dbo].[Post] ON 

INSERT [dbo].[Post] ([IDPost], [PostTitle]) VALUES (1, N'Менеджер')
INSERT [dbo].[Post] ([IDPost], [PostTitle]) VALUES (2, N'Кадастровый инженер')
INSERT [dbo].[Post] ([IDPost], [PostTitle]) VALUES (3, N'Архитектор')
SET IDENTITY_INSERT [dbo].[Post] OFF
GO
SET IDENTITY_INSERT [dbo].[Postindex] ON 

INSERT [dbo].[Postindex] ([IDPostindex], [Postindex]) VALUES (1, N'130558')
INSERT [dbo].[Postindex] ([IDPostindex], [Postindex]) VALUES (2, N'931953')
INSERT [dbo].[Postindex] ([IDPostindex], [Postindex]) VALUES (3, N'971003')
SET IDENTITY_INSERT [dbo].[Postindex] OFF
GO
INSERT [dbo].[temp] ([id], [inttemp], [chartemp]) VALUES (1, 301640000, NULL)
INSERT [dbo].[temp] ([id], [inttemp], [chartemp]) VALUES (2, 393520000, NULL)
INSERT [dbo].[temp] ([id], [inttemp], [chartemp]) VALUES (3, 28680000, NULL)
GO
SET IDENTITY_INSERT [dbo].[TypeOfActivity] ON 

INSERT [dbo].[TypeOfActivity] ([IDTypeOfActivity], [Title]) VALUES (1, N'Участок')
INSERT [dbo].[TypeOfActivity] ([IDTypeOfActivity], [Title]) VALUES (2, N'Дом')
INSERT [dbo].[TypeOfActivity] ([IDTypeOfActivity], [Title]) VALUES (3, N'Квартира')
SET IDENTITY_INSERT [dbo].[TypeOfActivity] OFF
GO
ALTER TABLE [dbo].[Check]  WITH CHECK ADD  CONSTRAINT [FK_Check_Client] FOREIGN KEY([IDClient])
REFERENCES [dbo].[Client] ([IDClient])
GO
ALTER TABLE [dbo].[Check] CHECK CONSTRAINT [FK_Check_Client]
GO
ALTER TABLE [dbo].[Check]  WITH CHECK ADD  CONSTRAINT [FK_Check_Employee] FOREIGN KEY([IDEmployee])
REFERENCES [dbo].[Employee] ([IDEmployee])
GO
ALTER TABLE [dbo].[Check] CHECK CONSTRAINT [FK_Check_Employee]
GO
ALTER TABLE [dbo].[Check]  WITH CHECK ADD  CONSTRAINT [FK_Check_EstateObject] FOREIGN KEY([IDEstateObject])
REFERENCES [dbo].[EstateObject] ([IDEstateObject])
GO
ALTER TABLE [dbo].[Check] CHECK CONSTRAINT [FK_Check_EstateObject]
GO
ALTER TABLE [dbo].[Client]  WITH CHECK ADD  CONSTRAINT [FK_Client_Gender] FOREIGN KEY([IDGender])
REFERENCES [dbo].[Gender] ([IDGender])
GO
ALTER TABLE [dbo].[Client] CHECK CONSTRAINT [FK_Client_Gender]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Gender] FOREIGN KEY([IDGender])
REFERENCES [dbo].[Gender] ([IDGender])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Gender]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Post] FOREIGN KEY([IDPost])
REFERENCES [dbo].[Post] ([IDPost])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Post]
GO
ALTER TABLE [dbo].[EstateObject]  WITH CHECK ADD  CONSTRAINT [FK_EstateObject_Format] FOREIGN KEY([IDFormat])
REFERENCES [dbo].[Format] ([IDFormat])
GO
ALTER TABLE [dbo].[EstateObject] CHECK CONSTRAINT [FK_EstateObject_Format]
GO
ALTER TABLE [dbo].[EstateObject]  WITH CHECK ADD  CONSTRAINT [FK_EstateObject_Postindex] FOREIGN KEY([IDFormat])
REFERENCES [dbo].[Postindex] ([IDPostindex])
GO
ALTER TABLE [dbo].[EstateObject] CHECK CONSTRAINT [FK_EstateObject_Postindex]
GO
ALTER TABLE [dbo].[EstateObject]  WITH CHECK ADD  CONSTRAINT [FK_EstateObject_TypeOfActivity] FOREIGN KEY([IDTypeOfActivity])
REFERENCES [dbo].[TypeOfActivity] ([IDTypeOfActivity])
GO
ALTER TABLE [dbo].[EstateObject] CHECK CONSTRAINT [FK_EstateObject_TypeOfActivity]
GO
ALTER TABLE [dbo].[EstatePhoto]  WITH CHECK ADD  CONSTRAINT [FK_EstatePhoto_Employee] FOREIGN KEY([IDEmployee])
REFERENCES [dbo].[Employee] ([IDEmployee])
GO
ALTER TABLE [dbo].[EstatePhoto] CHECK CONSTRAINT [FK_EstatePhoto_Employee]
GO
ALTER TABLE [dbo].[EstatePhoto]  WITH CHECK ADD  CONSTRAINT [FK_EstatePhoto_EstateObject] FOREIGN KEY([IDEstateObject])
REFERENCES [dbo].[EstateObject] ([IDEstateObject])
GO
ALTER TABLE [dbo].[EstatePhoto] CHECK CONSTRAINT [FK_EstatePhoto_EstateObject]
GO
ALTER TABLE [dbo].[EstateRelation]  WITH CHECK ADD  CONSTRAINT [FK_EstateRelation_EstateObject] FOREIGN KEY([IDPlaceEstate])
REFERENCES [dbo].[EstateObject] ([IDEstateObject])
GO
ALTER TABLE [dbo].[EstateRelation] CHECK CONSTRAINT [FK_EstateRelation_EstateObject]
GO
ALTER TABLE [dbo].[EstateRelation]  WITH CHECK ADD  CONSTRAINT [FK_EstateRelation_EstateObject1] FOREIGN KEY([IDBuildingEstate])
REFERENCES [dbo].[EstateObject] ([IDEstateObject])
GO
ALTER TABLE [dbo].[EstateRelation] CHECK CONSTRAINT [FK_EstateRelation_EstateObject1]
GO
ALTER TABLE [dbo].[FlatRelation]  WITH CHECK ADD  CONSTRAINT [FK_FlatRelation_EstateObject] FOREIGN KEY([IDBuildEstate])
REFERENCES [dbo].[EstateObject] ([IDEstateObject])
GO
ALTER TABLE [dbo].[FlatRelation] CHECK CONSTRAINT [FK_FlatRelation_EstateObject]
GO
ALTER TABLE [dbo].[FlatRelation]  WITH CHECK ADD  CONSTRAINT [FK_FlatRelation_EstateObject1] FOREIGN KEY([IDFlatEstate])
REFERENCES [dbo].[EstateObject] ([IDEstateObject])
GO
ALTER TABLE [dbo].[FlatRelation] CHECK CONSTRAINT [FK_FlatRelation_EstateObject1]
GO
/****** Object:  StoredProcedure [dbo].[PR_AddCommonCost]    Script Date: 12.02.2024 14:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Procedure

--2.1) Повышение/Понижение цены домов, находящихся на 1м общем участке;
create   proc [dbo].[PR_AddCommonCost]
@IDPlace int,
@Cost decimal(14,2)
as
begin
declare @i int
set @i = 0
	if((select IDTypeOfActivity from EstateObject where IDEstateObject=@IDPlace )=1)
		begin
			declare @IDPlaceEstate int
			declare @IDBuildEstate int
			declare ObjectCurs cursor for
			select er.IDPlaceEstate, er.IDBuildingEstate
			from EstateObject eo
			join EstateRelation er on eo.IDEstateObject = er.IDPlaceEstate
			where eo.IDTypeOfActivity=1 and er.IDPlaceEstate=@IDPlace
			order by er.IDPlaceEstate

			open ObjectCurs

			FETCH NEXT FROM ObjectCurs INTO @IDPlaceEstate, @IDBuildEstate

			WHILE @@FETCH_STATUS = 0
				Begin
					update EstateObject
					set Price = Price+@Cost
					where IDEstateObject=@IDBuildEstate
					FETCH NEXT FROM ObjectCurs INTO @IDPlaceEstate, @IDBuildEstate
				end
			close ObjectCurs
			DEALLOCATE ObjectCurs 
		end
	else
		begin
			print('Данный объект недвижимости не является участком')
		end
end
GO
/****** Object:  StoredProcedure [dbo].[PR_AddCommonFlatCost]    Script Date: 12.02.2024 14:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--2.2) Повышение/Понижение цены квартир, находящихся в 1м общем доме;
create   proc [dbo].[PR_AddCommonFlatCost]
@IDBuild int,
@Cost decimal(14,2)
as
begin
declare @i int
set @i = 0
	if((select IDTypeOfActivity from EstateObject where IDEstateObject=@IDBuild )=2)
		begin
			declare @IDFlatEstate int
			declare @IDBuildEstate int
			declare ObjectCurs cursor for
			select f.IDBuildEstate, f.IDFlatEstate
			from EstateObject eo
			join FlatRelation f on eo.IDEstateObject = f.IDBuildEstate
			where eo.IDTypeOfActivity=2 --and f.IDBuildEstate=@IDBuild
			order by f.IDBuildEstate

			open ObjectCurs

			FETCH NEXT FROM ObjectCurs INTO @IDBuildEstate, @IDFlatEstate

			WHILE @@FETCH_STATUS = 0
				Begin
					update EstateObject
					set Price = Price+@Cost
					where IDEstateObject=@IDFlatEstate
					FETCH NEXT FROM ObjectCurs INTO @IDBuildEstate, @IDFlatEstate
				end
			close ObjectCurs
			DEALLOCATE ObjectCurs 
		end
	else
		begin
			print('Данный объект недвижимости не является строением')
		end
end
GO
USE [master]
GO
